___

Mr. Yogesh P Murumkar (Mob. 9657080906)

https://www.youtube.com/c/yogeshmurumkar
___
# Python Course Exercises 1

This is an optional exercise to test your understanding of Python Basics. If you find this extremely challenging, then you probably are not ready for the rest of this course yet and don't have enough programming experience to continue. I would suggest you take another course more geared towards complete beginners.

In [1]:
s = 'hello'

In [2]:
s

'hello'

In [7]:
x = input('enter name')
y = input('enter name')
print(x[::-1],y[::-1])

enter namenavnath
enter namebagal
htanvan lagab

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

In [3]:
7**4

2401

** What is 7 to the power of 4?**

In [4]:
7**4

2401

** Split this string:**

    s = "Hi there Yogesh!"
    
**into a list. **

In [5]:
s="hi there Yogesh!"

In [6]:
s.split()

['hi', 'there', 'Yogesh!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [7]:
planet = "Earth"
diameter = 12742

In [8]:
'The diameter of {} is {} kilometer'.format(planet,diameter)

'The diameter of Earth is 12742 kilometer'

:** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
lst = [1,2]

In [11]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [12]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [13]:
d["k1"][3]["tricky"][3]["target"][3]

'hello'

** What is the main difference between a tuple and a list? **

In [14]:
# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [15]:
def grab_web(a):
    return a.split("@")[1]

In [16]:
grab_web("adityatelharkar@gmail.com")

'gmail.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [17]:
def find_dog(a):
    return "dog" in a.lower().split()

In [18]:
find_dog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [19]:
def countDog(a):
    count=0
    for w in a.lower().split():
        if w=="dog":
            count=count+1
    return count

In [20]:
countDog('The dog dog id dog')

3

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [21]:
seq = ['soup','dog','salad','cat','great']

In [22]:
lam1=lambda v:v[0]=="s"
list(filter(lam1,seq))

['soup', 'salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [23]:
def caught_speeding(speed, is_birthday):
    if is_birthday==True:
        new_speed=speed-5
    else:
        new_speed=speed
    if new_speed>80:
        return "BIG TICKET"
    elif new_speed>60:
        return "SMALL TICKET"
    else:
        return "NO TICKET"

In [24]:
caught_speeding(81,True)

'SMALL TICKET'

In [25]:
caught_speeding(81,False)

'BIG TICKET'

In [26]:
Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

SyntaxError: invalid syntax (1663754621.py, line 2)

In [28]:
num1=input()
num=""
a=[0,1,2,3,4,5,6,7,8,9]
if num1[0]=="-":
    num=num+num1[0]
for w in num1:
    if w in str(a):
        num=num+w
print(num)

aditya02012001
02012001

In [29]:
Q2
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

SyntaxError: invalid syntax (1112586882.py, line 2)

In [31]:
num1=input("Enter the number:")
num2=int(num1[::-1])
num3=str(int(num1)+num2)
while num3!=num3[::-1]:
    num3=str(int(num3)+int(num3[::-1]))
    print("Number is :",num3)
    print("Reverse is :",num3[::-1])
print("Reverse is :",num3)

Enter the number:8888
Number is : 85547
Reverse is : 74558
Number is : 160105
Reverse is : 501061
Number is : 661166
Reverse is : 661166
Reverse is : 661166

In [32]:
Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

SyntaxError: invalid syntax (2774450109.py, line 1)

In [33]:
def find_five_digit():
    for i in range(0,10):
        a=i
        b=i-2
        c=i-4
        d=i-6
        e=i-4
        if (c+d+e==a)or(a+b+c+d+e==19):
            return str(a)+str(b)+str(c)+str(d)+str(e)
find_five_digit()

'75313'

# Great job!